@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>
<ul id="menu">
    <li>@Html.ActionLink("Oferta", "Index", "Oferta")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
</ul>
